html {
   background: url('https://lh6.googleusercontent.com/eaKFgsX4vVZuYhlM3SqMnxuzDnPYRdnsAPSNKBr0FYl-YqyggJUfiQ') no-repeat;
   background-size: cover;
}

body {
   height: 90vh;
   width: 90vw;
   margin: 5vh 5vw;
}

.container {
   height: 100%;
   display: grid;
   grid-template: repeat(8, 1fr) / repeat(8, 1fr);
   /*grid-gap: 0.5vw;*/
}

@font-face {
   font-family: 'om_telolet_omregular';
   src: url('omteloletom-webfont.woff2') format('woff2'),
   url('omteloletom-webfont.woff') format('woff');
}

h1 {
   font-family: om_telolet_omregular;
   color: seashell;
   font-size: 65pt;
   /*align-self: center;*/
   margin: 0;
}

h2 {
   font-family: Delius;
   color: rosybrown;
   margin: 0;
}

h3 {
   font-family: arima madurai;
   color: slategray;
   font-size: 22px;
   margin: 0 0 0.5em 0;
}

p {
   margin-left: 270px;
   margin-right: 200px;
   font-family: Yrsa;
   font-size: 18pt
}

a:link {
   background-color: transparent;
   text-decoration: none;
}

a:visited {
   color: slategray;
   background-color: transparent;
   text-decoration: none;
}

a:active {
   background-color: transparent;
}

a:hover {
   color: olive;
}

/* put grid positions in here */
@media (min-width: 980px) {

   header {
      grid-column: 1 / 5;
   }

   navbar {
      grid-area: 3 / 1 / 8 / 3;
   }

}
