html {
   background: url('https://lh6.googleusercontent.com/eaKFgsX4vVZuYhlM3SqMnxuzDnPYRdnsAPSNKBr0FYl-YqyggJUfiQ') no-repeat;
   background-size: cover;
}

body {
   height: 90vh;
   width: 90vw;
   margin: 5vh 5vw;
}

.container {
   height: 100%;
   display: grid;
   grid-template: repeat(5, 1fr) / repeat(5, 1fr);
   /*grid-gap: 0.5vw;*/
}

@font-face {
   font-family: 'om_telolet_omregular';
   src: url('omteloletom-webfont.woff2') format('woff2'),
   url('omteloletom-webfont.woff') format('woff');
   /*font-weight: normal;
   font-style: normal;
   font-size: larger;*/
}

h1 {
   font-family: om_telolet_omregular;
   color: cornsilk;
   font-size: 72pt;
   align-self: center;
   margin: 0;
}

h2 {
   font-family: Delius;
   top: 0px;
   margin-left: 270px;
   color: dimgray;
}

p {
   margin-left: 270px;
   margin-right: 200px;
   font-family: Yrsa;
   font-size: 18pt
}

a:link {
   color: dimgray;
   background-color: transparent;
   text-decoration: none;
}

a:visited {
   color: dimgray;
   background-color: transparent;
   text-decoration: none;
}

a:active {
   background-color: transparent;
}

/* put grid positions in here */
@media (min-width: 980px) {

   h1 {
      grid-column: 1 / 4;
   }

}
