body, html {
    height: 100%;
    margin: 0;
}

.bg {
    /* The image used */
    background-image: url("https://lh6.googleusercontent.com/eaKFgsX4vVZuYhlM3SqMnxuzDnPYRdnsAPSNKBr0FYl-YqyggJUfiQ");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@font-face {
    font-family: 'om_telolet_omregular';
    src: url('omteloletom-webfont.woff2') format('woff2'),
    url('omteloletom-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-size: larger;
}

h1 {
    font-family: om_telolet_omregular;
    position: absolute;
    top: 50px;
    margin-left: 40px;
    margin-top: 0px;
    font-size: 48pt;
    color: dimgray;
}

h2 {
    font-family: om_telolet_omregular;
    position: absolute;
    top: 260px;
    margin-left: 40px;
    margin-top: 0px;
    font-size: 175%;
    color: dimgray;
}

a:link {
    color: dimgray;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: dimgray;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    background-color: transparent;
    text-decoration: none;
}

a:active {
    background-color: transparent;
    text-decoration: none;
}

.transparent {
    background:#7f7f7f;
    background:rgba(255,255,255,0.8);
}

#scrollbox {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: 'Source Serif Pro', serif;
    font-size: 20px;
    line-height: 150%;

    height: 50%;
    width: 40%;

    margin: auto;
}

.centre{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#slideshow {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
